{% extends "base.html" %}

{% block main_content %}
    
    <div class="container">
        <a href="{{ url_for('movies', month=prev_month, year=prev_year) }}">PREVIOUS</a>
        <h2>
            {{ month_name }}, {{ year }}
        </h2>
        <a href="{{ url_for('movies', month=next_month, year=next_year) }}">NEXT</a>
        
            {% if movies %}
                <div class="container">
                    <div class="row">
                        {% for movie in movies %}
                                <div class="col-md-6 col-lg-4 card">
                                    <img class="card-img-top" 
                                        src="{{ 'https://image.tmdb.org/t/p/w500/' + 
                                            movie['poster_path']}}" 
                                        alt="{{ movie['title'] }} Poster">
                                    <div class="card-text">
                                        <h5 class="card-title">
                                            {{ movie["title"] }}
                                        </h5>
                                            <p class="card-text">
                                                {{ movie["overview"] }} 
                                            </p>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        
            {% if prev_url %}
                <a href="{{ url_for('movies', month=month, year=year, page=(page-1)) }}">PREVIOUS</a>
            {% endif %}
            {% if next_url %}
                <a href="{{ url_for('movies', month=month, year=year, page=(page+1)) }}">NEXT</a>
            {% endif %}
    </div>
{% endblock %}
